/* ==========================================================================
   BREADCRUMB MENU
   ========================================================================== */
	.breadcrumb{
		@include clearfix();
		font-weight:normal;
		font-size:11px;
		clear:both;
		display:block;
		padding: 10px 15px;
		margin: 0;
		line-height:100%;

		ol{
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline;
		}

		div{
			display: inline;
		}

		a{
			text-decoration:none; 
		}

		a:hover{
			text-decoration:none;
			opacity: 0.8;
		} 
			  
		a.icon-home:before{
			margin-right: 5px;
			line-height: 100%;
			margin-left: 0;
			text-align: left;
		} 

		span:before{
			width:auto;
		}
	}


	.sub_page_header{

		&:not(.center-style) .breadcrumb{
			text-align: left;
			position:absolute;
			top: 50%;
			@include transform( translateY(-50%) );
			right: $rt-grid-gutter-width / 2 ;
			max-width: 50%;
		}

		&:not(.center-style).underlap .breadcrumb{
			@include transform( translateY( calc( -50% - 20px ) ) );
		}

		&.center-style .breadcrumb{
			max-width: 100%;
			text-align: center;
		}
	}