//vars
$rt_layout:"layout1";
$left-side-width: 30%;
$right-side-width: 70%;
$left-side-min-width: 290;//px
$left-side-content-width: 290;//px
$content-row-max-width: 980;//px
$rt-grid-gutter-width: 30px;

//menu variables
$item_vertical_padding:10px;