/*!
 * RT-Theme 19 CSS File for IE9
 * Copyright 2014 RT-Themes
 * http://rtthemes.com
 */


/* CONTENT SLIDER
   ========================================================================== */
	.slide-content-wrapper{
		.slide-content{
			opacity: 1; 
		}
	}