/* ==========================================================================
   GLOBAL STRUCTURE
   ========================================================================== */

/* Body
   ========================================================================== */
	body {
		color: $primary-font-color;
	//	background-color: $body-background-color;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; 		
	}


/* Main Content Holder & Rows
   ========================================================================== */ 
   #container{
   	position: relative;
   }

	#main_content{
		padding: 0;
		position: relative;
		z-index: 2;
		clear: both;

		> .content_row{
			@include clearfix();
			margin-bottom: 0;		
			max-width: $content-row-max-width+px;
			z-index: 1;
			border-width: 0;
			border-style: solid;
			overflow: hidden;

			.content_row, .row{
				margin-left: -$rt-grid-gutter-width/2;
				margin-right: -$rt-grid-gutter-width/2;
			}

			&.fullwidth {
				max-width: 100%;
				width: 100%;
			}

			&:first-child{
				margin-top: 0;
			}	
			
		}
 
		.border-top{
			border-top-width: 1px;
			border-top-style: solid;
		}

		.border-bottom{
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		> .content_row:last-child {
		//	@include box-shadow( 0 40px 20px -20px rgba(0, 0, 0, 0.55) ); 
		}	
	}

	body.layout1,body.layout2{

		#main_content{
			//alt style 1 
			&.alt-style-1{
				@include box-shadow( 0 -3px 2px -3px rgba(0, 0, 0, 0.07) inset, 0 3px 2px -3px rgba(0, 0, 0, 0.07) inset );
			}

			//alt style 1 
			&.alt-style-1:first-child{
				@include box-shadow( none );
			}		
		}
	}

	/* overlapped row */
	#main_content > .content_row.overlap {
		margin-top: -40px;
		z-index: 999999;
		position: relative;	 
		width: 100%;
	}

	.layout1 #main_content > .content_row.overlap {
		display: inline-block;
		margin-bottom: -6px;
	}

	.centered-contents #main_content > .content_row.overlap{
		display: block;
	}

	.centered-contents #main_content > .content_row.overlap, .centered-contents #main_content > .content_row,
	.centered-contents #footer > .content_row
	{
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0;
	}

	#main_content > .content_row.overlap:first-child {
		margin-top: 0;
	}

	/* overwrite bootsrap rows */
	.row{
		margin: 0;
	}

	/* Content Row Wrapper */
	.content_row_wrapper{
		@include clearfix();
		max-width: $content-row-max-width+px;
		display: block;
		width: 100%;
		padding: $rt-grid-gutter-width/2+10 10px;
		&.fullwidth {
			max-width: 100%;
			width: 100%;
		}

		&.nopadding {
			> .vc_col-sm-12, > .col-sm-12{
				padding: 0;
			}
		}
	}	

	.vc_inner > .content_row_wrapper {
		padding: 0;
	}

	/* Column Gaps */
	.rt-column-gaps > div > .vc_column_container > .wpb_wrapper{
		padding-left: floor(($grid-gutter-width / 2));
		padding-right: floor(($grid-gutter-width / 2));		
	}

	.rt-column-gaps > .content_row_wrapper{
		max-width: $content-row-max-width + $grid-gutter-width;
	}

	.centered-contents .content_row_wrapper{
		margin-left: auto;
		margin-right: auto;
	}

	/* nested columns fix for fixed heights */
	.fixed_heights .wpb_column:not(.vc_col-sm-12) .wpb_column{
		height: auto !important;
		min-height: auto !important;
	}

	//row video backgrounds
	.content-row-video-overlay,.content-row-video{
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.has-video-bg{
		position: relative;
		overflow: hidden;
	}

	.has-bg-overlay{
		position: relative;
		overflow: hidden;
	}	
	
	//animated columms
	.js .animate-cols > .content_row_wrapper .wpb_column{
		opacity: 0;
	}

	//sidebars
	.sidebar{
		border-style: solid;
	}
	
	.sidebar.right{
		border-width: 0 0 0 1px;
	}

	.sidebar.left{
		border-width: 0 1px 0 0;
	}

	.content.right{
		float: right;
	}

	/* Content Alignments */
	.content_row_wrapper.align-contents{

		display: -ms-flexbox;
		@include display-flex;	 
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		&:before,&:after{
			display: none;
		}
		
		&.content-align-bottom {
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;

			> div{
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;

				@include align-items(flex-end); 	
				-ms-flex-align: end;

				> *{
					-webkit-flex: 1 1 auto;
					-moz-flex: 1 1 auto;
					-ms-flex: 1 1 auto;
					-o-flex: 1 1 auto;
					flex: 1 1 auto;
					width: 100%;
				}
			}				
		}				

		&.content-align-middle {
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;

			> div{
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;

				@include align-items(center); 	
				-ms-flex-align: center;			

				> *{
					-webkit-flex: 1 1 auto;
					-moz-flex: 1 1 auto;
					-ms-flex: 1 1 auto;
					-o-flex: 1 1 auto;
					flex: 1 1 auto;
					width: 100%;
				}
			}				
		}		
	}


/* VC Related Fixes
   ========================================================================== */ 

	/* VC Replicas */
	.rt_content_element{
	 	margin-bottom: $rt-grid-gutter-width/2;
	}

	.col > *:last-child {
		margin-bottom: 0;
	}

	/* VC Overwrites */
	.layout1:not(.centered-contents) #main_content .wpb_row{
		margin-left:0;
		margin-right:0;
	}

	#main_content > .wpb_row > .wpb_column{
		padding-left: 20px;
		padding-right: 20px;
	}

	.content_row_wrapper .wpb_content_element{
		margin-bottom: $rt-grid-gutter-width/2;
	}	

	.wpb_single_image .vc_single_image-wrapper{
		max-width: 100%;
	}

	.content_row .vc_column_container {
		padding-left: $rt-grid-gutter-width/2;
		padding-right: $rt-grid-gutter-width/2;
	}

	.wpb_column > .wpb_wrapper > *:last-child {
		margin-bottom: 0;
	}	
 

	.content_row.full-height-row:not(.row-content-top){		
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		&.row-content-bottom{
			@include align-items(flex-end); 
			-ms-flex-align: end;

			> .content_row_wrapper{
				margin-top: initial;
				margin-bottom: initial;
			}			
		}				

		&.row-content-middle {
			@include align-items(center); 	
			-ms-flex-align: center;					
		}		
	}


/* SiteOrigin Related Fixes
   ========================================================================== */
   .siteorigin-panels .no-composer > .content_row_wrapper{
   	padding-top: 0;
   	padding-bottom: 0;
   }



